@import url("./mocha.css");

* {
  border: none;
  border-radius: 0;
  font-family: mononoki Nerd Font;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: @flamingo;
}

#workspaces {
  background-color: @base;
  margin: 5px;
  margin-left: 10px;
  border-radius: 5px;
}

#workspaces button {
  padding: 5px 10px;
  color: @text;
}

#workspaces button.active {
  color: @base;
  background-color: @mauve;
  border-radius: 5px;
}

#workspaces button:hover {
  background-color: @teal;
  color: @crust;
  border-radius: 5px;
}

#custom-date,
#clock,
#battery,
#pulseaudio,
#network {
  background-color: @base;
  padding: 5px 10px;
  margin: 5px 0px;
}

#custom-date {
  color: @sky;
}

#custom-power {
  color: @base;
  background-color: @sapphire;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  padding: 5px 10px;
}

#custom-power:hover {
  background-color: @rosewater;
}

#clock {
  color: @peach;
  border-radius: 0px 5px 5px 0px;
  margin-right: 10px;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @teal;
}

#battery.warning:not(.charging) {
  background-color: @red;
  color: @base;
  border-radius: 5px 5px 5px 5px;
}

#network {
  color: @green;
  border-radius: 5px 0px 0px 5px;
}

#pulseaudio {
  color: @mauve;
}
